/* Liens */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Bouton par défaut */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Empêche l'héritage depuis body */
  background-color: #fff;
  border: 1px solid #fff;
}


/* Structure de base */

html,
body {
	height: 100%;
	background-color: #333;
	background-image:url(campus.jpg);
	background-repeat:no-repeat;
	background-position:center center;
}

body {
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.general {
	display: table;
	width: 100%;
	height: 100%; /* Pour Firefox */
	min-height: 100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.interne {
  display: table-cell;
  vertical-align: top;
}
.contenuCover {
  margin-right: auto;
  margin-left: auto;
}

/* Espacement */
.piedContenu {
  padding: 30px;
}


/* Header */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/* Cover */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/* Footer */

.pied {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/* Fixer et centrer */

@media (min-width: 768px) {
  /* Fixe le header et le footer par rapport au reste de la page */
  .masthead {
    position: fixed;
    top: 0;
  }
  .pied {
    position: fixed;
    bottom: 0;
  }
  /* Debut de centrage */
  .interne {
    vertical-align: middle;
  }
  /* Largeur des éléments */
  .masthead,
  .pied,
  .contenuCover {
    width: 100%; /* Pourcentage ou pixels pour l'alignement horizontal */
  }
}

@media (min-width: 992px) {
  .masthead,
  .pied,
  .contenuCover {
    width: 700px;
  }
}
